@import url('https://fonts.googleapis.com/css?family=Short+Stack');


body {
  background-image: url(/../resources/images/background.jpeg);
  background-color: #d5f4f9;
  background-position: bottom;
  background-size: contain;
  background-repeat: repeat-y;
  display: flex;
  justify-content: center;
}

#header {
  background-image: url(/../resources/images/bg-header.png);
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center;
  min-width: 1050px;
  height: 175px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  h1 {
    font-family: Short Stack;
    font-size: 5em;
    color: green;
    text-shadow: 2px 2px 2px orange;
 }
 img {
   position: absolute;
   bottom: -40px;
   width: 1050px;
 }
}

#hero {
  background-image: url(/../resources/images/hero.jpg);
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  width: 1000px;
  height: 550px;
  position: relative;
  z-index: -1;
  margin: 0 auto;
  #bamboo  {
    position: absolute;
    left: -10;
    bottom: -120;
    width: 1020px;
  }
  #border {
    height: 549px;
    position: absolute;
    left: -25;
  }
}

#animal-container {
  margin-top: 80px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.animals {
  background-image: url(/../resources/images/animals-bg.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  height: 300px;
  width: 400px;
  margin: 5px;

  #info {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    margin-left: 30px;
    // margin-top: 20px;
    #name-edit {
      display: flex;
      justify-content: space-between;
      margin-top: 20px;

      .edit {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: #54a1e7;
        font-size: 12px;
        border: none;
        margin-right: 30px;
        margin-top: 20px;
      }
      .voice {
        width: 40px;
        height: 40px;
        img {
          width: 100%;
        }
      }
    }
  }

  .animalpic {
    width: 55%;
    border-radius: 10px;
    align-self: flex-end;
    margin-right: 35px;
  }

}

#footer {
  margin: 0 auto;
  background-image: url(/../resources/images/bg-footer.png);
  height: 400px;
  width: 85%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#select {
margin-top: 70px;
display: flex;
justify-content: center;
select {
  width: 70%;
  height: 70px;
  font-size: 16px;
}
}
